In [1]:
# Arithmatic expressions: the calculation is performed, the result printed, and then
# if not stored in a variable, the result gets deleted by the garbage collector
3 + 4 / 7 - 2 * 14 \
    + 7

-17.42857142857143

In [2]:
# Assignment statements 
my_data = 3 + 4 / 7 - 2 * 14 \
    + 7

In [3]:
# Print the names and properties of the variables that are stored in memory
%whos

Variable   Type     Data/Info
-----------------------------
my_data    float    -17.42857142857143

In [4]:
# Convert floats to ints
int(3.0)

3

In [5]:
# Convert ints to floats
float(3)

3.0

In [6]:
# If you compare an int to a float, the int will be converted to a float before
# the comparison is performed, so that an error is not thrown
3.0 == 3

True

In [7]:
# Assign some different representations of numbers
x = 3

In [8]:
y = '4'

In [9]:
z = '5.6'

In [10]:
# Errors from incompatable data types
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# x + int(y + z) will throw an error because you can't covert a string
# representing a number wiht a decimal into an int directly
x + int(float(y + z))

48

In [12]:
# '+' concatenates two strings
y + z

'45.6'

In [13]:
# Logical comparison
x <= float(z)

True

In [14]:
# Combining a logical comparison with an if -> else code block to execute conditional code
# Note the 4 spaces on lines after each colon
# The way python knows when to stop the "if" or "else" code block is an unindented line
if x > float(y):
    print("Yep")
else:
    print("nope")

nope

In [15]:
# Make a list and store it
mylist = [3, 4.0, 'a', 'a']
mylist

[3, 4.0, 'a', 'a']

In [18]:
# Access list elements with their integer position
mylist[0]

3

In [21]:
# Access list elements with slices; the last number gets excluded (so 0, 1, and 2 will be accessed in the slice below but not 3)
mylist[0:3]

[3, 4.0, 'a']

In [1]:
# Make a dictionary
d = {'a':1, 'b':3, 'a':4}
d

{'a': 4, 'b': 3}

In [27]:
# Use the len() function to figure out the length of a container (the number of things inside it)
len(d)

2

In [28]:
d['b']

3

In [ ]:
# Define a function. Like an "if" statement, the code continues in indented lines until the first unindented line
# Note if you want more code blocks nested inside, you just add four more spaces to work in that code block

In [2]:
def sum_elements(datalist):
    value = 0
    for x in datalist:
        if isinstance(x, (int, float, complex)) :   #isinstance是用來:檢查變數 x 是否是 int、float 或 complex 這三種類型之一。如果是的話，為 True。
            value = value + x
    return(value)

In [30]:
%whos

Variable       Type        Data/Info
------------------------------------
d              dict        n=2
my_data        float       -17.42857142857143
mylist         list        n=4
sum_elements   function    <function sum_elements at 0x000001D67F8DB3A0>
x              int         3
y              str         4
z              str         5.6

In [31]:
# Call the element you defined
sum_elements(mylist)

7.0

In [32]:
[x + 3 for x in mylist if isinstance(x, (int, float, complex))]

[6, 7.0]

In [33]:
mynewlist = []
for x in mylist:
    if isinstance(x, (int, float, complex)):
        x = x + 3
        mynewlist = mynewlist + [x]
mynewlist

[6, 7.0]

In [34]:
# Define a class. The one below will create instances of a data_container object that
# will have a list of data named 'data' and three functions named sum_elements,
# remove_nonnumeric, and mean_elements that can be accessed with dot notation.

class data_container:
    def __init__(self, data=[]):
        self.data = data
    def sum_elements(self):
        value = 0
        for x in self.data:
            if isinstance(x, (int, float, complex)) :
                value = value + x
        return(value)
    def remove_nonnumeric(self, inplace=False):
        newlist = [x for x in self.data if isinstance(x, (int, float, complex))]
        if inplace:
            self.data = newlist
        else:
            return(newlist)
    def mean_elements(self):
        n = len(self.remove_nonnumeric(inplace=False))
        return(self.sum_elements() / n)

In [35]:
# Call the data_container constructor function by using it like a function
data_container()

In [36]:
mylist
mylist2 = [7, 10, 1.2, 'b']
mylist2

[7, 10, 1.2, 'b']

In [37]:
# This time give it some data to hold and store it as 'my_object'
my_object = data_container(mylist)
my_object

In [38]:
my_object2 = data_container(mylist2)

In [39]:
# Access the data with dot notation
my_object.data

[3, 4.0, 'a', 'a']

In [40]:
my_object2.data

[7, 10, 1.2, 'b']

In [41]:
# Call the sum_elements function
my_object.sum_elements()

7.0

In [42]:
my_object.remove_nonnumeric(inplace=True)

In [43]:
# Check to see if the data changed
my_object.data

[3, 4.0]

In [44]:
my_object2.remove_nonnumeric(inplace=False)

[7, 10, 1.2]

In [45]:
my_object2.data

[7, 10, 1.2, 'b']

In [ ]:
# Calling remove_nonnumeric with defaults and it will return a new copy of the list with nonnumeric values removed

In [46]:
# This time call remove_nonnumeric with inplace=True, and it should change the internal data in my_object
my_object2.remove_nonnumeric(inplace=True)

In [47]:
# Verify that this is true
my_object2.data

[7, 10, 1.2]

In [ ]:
class optional:
    def __init__(self, data=[], x=None, y=None):
        self.data = data
        if isinstance(x, (int, complex, float, str)):
            self.data = self.data + [x]
        if isinstance(y, (int, complex, float, str)):
            self.data = self.data + [y]
    def product(self):
        value = 1
        for x in self.data:
            if isinstance(x, (int, float)):
                value *= x
        return(value)
    def simpleproduct(self, x, y):
        return(x * y)

In [ ]:
n = optional([3.7, 2.3], 3, 4)

In [ ]:
n.product()

In [ ]:
n.simpleproduct(3.7,2.3)

In [ ]:
n.data